ÔªËØ {
    width: 300px;
    height: 40px;
    transform: none;
    z-index: 9999;
}

#chatra.chatra--pos-right {
    right: 20px;
}

#chatra.chatra--side-bottom {
    bottom: 20px;
}

#chatra.chatra--visible {
    visibility: visible;
    opacity: 1;
}

#chatra {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    max-height: calc(100% - 40px);
    max-width: calc(100% - 40px);
    -webkit-transition: .2s linear;
    transition: .2s linear;
    transition-property: all;
    -webkit-transition-property: visibility,opacity;
    transition-property: visibility,opacity;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: auto;
    height: auto;
    min-height: 0;
    min-width: 0;
    display: block;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

html, body {
    font-family: "Microsoft YaHei", "Î¢ÈíÑÅºÚ";
    color: #fff;
    font-size: 15px;
    font-weight: normal;
}
.header {
    outline: 0;
    min-height: 40px;
    line-height: 40px;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0;
    position: relative;
    z-index: 15;
    background-color: transparent;
    background-image: none;
    border-radius: 12px;
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    max-width: 100vw;
}

.header__welcome-text::before {
    content: "";
    display: inline-block;
    position: relative;
    width: 8px;
    height: 8px;
    line-height: 8px;
    margin-right: 2px;
    border-radius: 5px;
    vertical-align: .1em;
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.8);
}

.header__inner {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 calc(1em - 5px) 0 1em;
}

.header--offline .header__welcome-text::before {
    background-color: #1f89f8;
    background-image: -webkit-linear-gradient(left top,#3b99fc,#0479f5);
    background-image: linear-gradient(to right bottom,#3b99fc,#0479f5);
}