
/****************************************************************************************

Stylesheet for tables in HTML/Markdown in Light mode

Note that:
1. the stylesheet code applies to all Html/Markdown documents loaded in the embedded web browser.
2. it's not recommended to make any modifications to this inbuilt file.
3. custom css can safely be injected by linking an external .css file from within Options/Format/Html.
4. the stylesheet code must conform to the W3C/CSS Specs (https://www.w3.org/Style/CSS/).
5. it's recommended first to create a backup of the original code before making any changes.

****************************************************************************************/


table{
	padding: 0;
	border-collapse: collapse;
	border: 1px solid gray;
	border-width: 3px 1px 3px 1px;
}

tr{
	margin: 0px;
	padding: 0px;
}

tr:nth-child(2n){
	background-color: #f8f8f8;
	background-color: %AppUIBackColor%;
}

th{
	padding: 2px 5px;
	font-weight: bold;
	text-align: center;
	color: #e9e9e9;
	background-color: lightslategrey;
}

td{
	padding: 5px;
	border: 1px solid grey;
}
