
/****************************************************************************************

Stylesheet for Hyperlinks Highlighting within Rich/Plain Text Editors in Dark mode

Note that:
1. the stylesheet code applies to all Rich/Plain text documents loaded within Rich/Plain text editors.
2. The stylesheet supports a subset of W3C/CSS Specs (e.g. font-size, style, weight, color etc.)
3. it's recommended first to create a backup of the original code before making any changes.

****************************************************************************************/


.url{
	/* URLs */
	color: lightgreen;
	color: royalBlue;
	color: steelBlue;
	color: skyblue;
	color: %DocumentHyperlinkColor%;
	/*font-weight: bold;*/
	/*text-decoration: underline;*/
}

.email{
	/* Email addresses */
	color: lightgreen;
	color: royalBlue;
	color: steelBlue;
	color: skyblue;
	color: %DocumentHyperlinkColor%;
	/*font-weight: bold;*/
}



