
/****************************************************************************************

Stylesheet for Markdown Rendering in Dark mode

Note that:
1. the stylesheet code applies to all Html/Markdown documents loaded in the embedded web browser.
2. it's not recommended to make any modifications to this inbuilt file.
3. custom css can safely be injected by linking an external .css file from within Options/Format/Html.
4. the stylesheet code must conform to the W3C/CSS Specs (https://www.w3.org/Style/CSS/).
5. it's recommended first to create a backup of the original code before making any changes.

****************************************************************************************/

/*
2022.1.27
This file overrides text attributes end-users defined with in Options/Preferences dialog;
But paragraph attributes defined in Prefs don't apply to Markdown;
To find out which css files are applied, look into the Event log viewer;
*/

body{
	/*font-family: "Microsoft Yahei", Helvetica, sans-serif, arial;
	font-size: 10pt;*/
}

body{
	padding: 0.3em 0.3em 3em 0.3em;
	line-height: 130%;
}

body > * :first-child {
	margin-top: 0 !important;
}

p{
	margin: 1em 0;
}

div{
	margin: 1em 0;
}

h1, h2, h3, h4, h5, h6{
	margin: 2em 0px 1em 0px;
	padding: 0px;
	font-weight: bold;
}

h1{
	font-size: 24pt;
}

h2{
	font-size: 22pt;
}

h3{
	font-size: 20pt;
}

h4{
	font-size: 18pt;
}

h5{
	font-size: 14pt;
}

h6{
	font-size: 12pt;
}

ul, ol{

}

li{

}

blockquote{
	margin-left: 1em;
	padding: 8px;
	border-left: 4px solid #808080;
	background-color: #383d39;
	background-color: %HtmlTextBackColorMuchLighter%;
}

blockquote > * :first-child {
	margin-top: 4px;
}

blockquote > * :last-child {
	margin-bottom: 4px;
}

hr{
	padding: 0;
	border: 0px;
	height: 4px;
	background: transparent url(nyf://appres?id=icon-by-key&ico=Img.Rule.Horizontal&type=svg) repeat-x 0 100%;
}

.CLS_InlineCode{
	padding: 2px 6px;
	margin: 0px 3px;
	font-family: Monaco, Consolas, Monospace, Courier;
	color: yellowgreen;
	background-color: #383d39;
	background-color: %HtmlTextBackColorMuchLighter%;
}

.CLS_LiteralDollars{
	background-color: default;
	padding: default;
	margin: default;
}


.mermaid{
	border: 1px solid gray;
	border-radius: 8px;
	color: black;
	background-color: lightgrey;
}

.mermaid div{
	color: black;
	margin: 0;
}

