
/****************************************************************************************

Stylesheet for Table of Contents in HTML/Markdown in Dark mode

Note that:
1. the stylesheet code applies to all Html/Markdown documents loaded in the embedded web browser.
2. it's not recommended to make any modifications to this inbuilt file.
3. custom css can safely be injected by linking an external .css file from within Options/Format/Html.
4. the stylesheet code must conform to the W3C/CSS Specs (https://www.w3.org/Style/CSS/).
5. it's recommended first to create a backup of the original code before making any changes.

****************************************************************************************/


div#ID_NYF_TOC_PANE *{
	margin: 0px;
	padding: 0px;
}

div#ID_NYF_TOC_PANE {
	margin: 0px;
	padding: 0px;
	border: 1px solid darkgrey;
	border-radius: 6px;
	background-color: #383d39;
	background-color: %AppUIBackColorMuchLighterNoAlpha%;
	background-color: %HtmlTextBackColorMuchLighterNoAlpha%;
}

div#ID_NYF_TOC_PANE a {

}

div#ID_NYF_TOC_TITLEBAR{
	border-bottom: 1px solid gray;
}

div#ID_NYF_TOC_TITLETEXT{
	padding: 6px 6px 6px 16px;
	font-weight: bold;
	font-size: large;
}

div#ID_NYF_TOC_LISTVIEW{
	padding-right: 0.5em;
	margin: 0.5em 0;
}

img#ID_NYF_TOC_BTNCLOSE{
	width: 16px;
	height: 16px;
	cursor: pointer;
	padding: 2px;
	margin: 3px;
}

.CLS_NYF_TOC_LISTITEM {

}

.CLS_NYF_TOC_HREF {
	font-size: small;
	text-decoration: underline;
	line-height: 150%;
}
