
/****************************************************************************************

General Stylesheet for HTML/Markdown Rendering in Dark mode

Note that:
1. the stylesheet code applies to all Html/Markdown documents loaded in the embedded web browser.
2. it's not recommended to make any modifications to this inbuilt file.
3. custom css can safely be injected by linking an external .css file from within Options/Format/Html.
4. the stylesheet code must conform to the W3C/CSS Specs (https://www.w3.org/Style/CSS/).
5. it's recommended first to create a backup of the original code before making any changes.

****************************************************************************************/


body{
	background-color: #232724;
	background-color: %AppUIBackColor%;
	background-color: %HtmlTextBackColor%;
	background-color: %HtmlTextBackColorNoAlpha%;
}

body, p, div, li, label, table, th, td, blockquote, h1, h2, h3, h4, h5, h6, h7, dd, dl, dt, label, pre, code{
	color: skyBlue;
	color: tan;
	color: darkSeaGreen;
	color: lightblue;
	color: %AppUITextColor%;
	color: %HtmlTextForeColor%;
}

::selection{
	color: %AppUISelectionForeColor%;
	background: %AppUISelectionBackColor%;
}

img{
	max-width: %MaxWidthOfImages%;
}
